@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: hsl(0, 0%, 98%);
  --foreground: hsl(235, 19%, 35%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
}

@theme {
  --breakpoint-mobile: 23.4375rem;
  --breakpoint-desktop: 90rem;
  --color-bright-blue: hsl(220, 98%, 61%);
  --color-check-from: hsl(192, 100%, 67%);
  --color-check-to: hsl(280, 87%, 65%);
  --font-sans: 'Josefin Sans', sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --text-base: 1.125rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-very-light-grayish-blue: hsl(236, 33%, 92%);
  --color-light-grayish-blue: hsl(233, 11%, 84%);
  --color-dark-grayish-blue: hsl(236, 9%, 61%);
  --color-very-dark-grayish-blue: hsl(235, 19%, 35%);
  --color-very-dark-blue: hsl(235, 21%, 11%);
  --color-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --color-light-grayish-blue-dark: hsl(234, 39%, 85%);
  --color-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --color-dark-grayish-blue-dark: hsl(234, 11%, 52%);
  --color-very-dark-grayish-blue-1: hsl(233, 14%, 35%);
  --color-very-dark-grayish-blue-2: hsl(237, 14%, 26%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(235, 21%, 11%);
    --foreground: hsl(234, 39%, 85%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --dark-grayish-blue: hsl(234, 11%, 52%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-size: var(--text-base);
  font-weight: var(--font-weight-normal);
}
